$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-plus: "\e900";
$icon-telegram: "\e901";
$icon-whatsapp: "\e902";
$icon-viber: "\e903";
$icon-arrow: "\e904";
$icon-home: "\e905";

