// Main wrappers =====================================

body {
	font-family: $main_font_family;
	color: $main_color;
	line-height: $main_line_height;
	font-size: calc(.05 * 100vw + 0px);

	@media (min-width: 992px) {
		font-size: calc(.00833333 * 100vw + 0px);
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: auto;
	min-height: 100%;
	font-size: 1em;
}

/* Middle
 ----------------------------------------------------------------------------- */
.main_content {
	flex-grow: 1;

}

.container_center {
	max-width: $container_width;
	padding: 0 1em;
	margin-left: auto;
	margin-right: auto;
}

.section {
	&__title {
		margin: 0;
		font-size: 1em;
		line-height: 1.7;
		margin-bottom: 0.3125em;
		text-align: center;

		@media (min-width: 992px) {
			text-align: initial;
			line-height: 1.51;
			margin-bottom: 1.25em;
		}

		span {
			font-weight: 300;
			font-size: 1.125em;
			/* 18/16 */
			@media (min-width: 992px) {
				font-size: 3.4375em;

			}
		}

		b {
			font-weight: 600;
		}
	}
}

a {
	transition: color 0.3s;
}

img {
	max-width: 100%;
	display: block;
}

.desktop {
	@media (max-width: 991px) {
		display: none !important;
	}
}

.mobile {
	@media (min-width: 992px) {
		display: none !important;
	}
}

// * {
// 	border: 1px solid #000;
// }
